.carousel__container {
  .carousel-inner {
    img {
      &.carousel {
        width: 100%;
      }
    }
  }
  .carousel-control {
    background: inherit;
  }
}
.swiper-wrapper {
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    img {
      width: 100%;
    }
  }
}
