$bg: #f2f2f2;

$navy-black: #2c3238;

$not-select-color: #979797;

$hover-secondary: #f0fdff;

$border-select-color: #42c9de;

$px1024: 64rem;
$px24: 1.5rem;
$px22: 1.375rem;
$px20: 1.25rem;
$px18: 1.125rem;
$px16: 1rem;
$px8: 0.5rem;

$m-h1: $px24;
$m-h2: $px18;

$bold: 700;
