@import "./partial/header.scss";
@import "./partial/card.scss";
@import "./partial/carousel.scss";
@import "./partial/leftNav.scss";

.main {
  @media screen and (min-width: $px1024) {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
  }
  .main__container {
    width: 100%;
    height: 100%;
    .main__title {
      font-size: $px24;
      margin-top: $px16;
      margin-left: $px16;
    }
    .page-title {
      font-size: $px24;
      padding: $px16;
    }

    @media screen and (min-width: $px1024) {
      .grid__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: $px16;
        section {
          margin: 0;
        }
        padding: $px16;
      }
    }
  }
}
